<div class="logo">
  <a href="index.html">
      <img src="../assets/images/logo-imigrasi-pengayoman.png" alt="logo" class="logo-default"  width="200px"/>                  
  </a>
  <h2>DIREKTORAT JENDRAL IMIGRASI</h2>
  <h4>KEMENTRIAN HUKUM DAN HAK ASASI MANUSIA</h4>
  <h4>REPUBLIK INDONESIA</h4>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
  <!-- BEGIN LOGIN FORM -->
    <form class="login-form" action="index.html" method="post">
        <h3 class="form-title font-white">Sign In</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Enter any username and password. </span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" /> </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
        <div class="form-actions">
            <button type="submit" class="btn dark btn-block uppercase">Login</button>
            <!-- <label class="rememberme check mt-checkbox mt-checkbox-outline">
                <input type="checkbox" name="remember" value="1" />Remember
                <span></span>
            </label>
            <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a> -->
        </div>        
    </form>        
</div>
<div class="copyright"> 2017 © Direktorat Jendral Imigrasi.</div>