<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Tambah {{this.title.statusSipil}}
                <small>Lorem Ipsum & net corem herid</small>
            </h1>
        </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">            
            <li>
              <span class="active">Konfigurasi Data</span>
              <i class="fa fa-circle"></i>              
          </li>
            <li>
              <a [routerLink]="['/'+this.routerUrl.statusSipil]">{{this.title.statusSipil}}</a>
            </li>
            <li>
              <span class="active">Tambah {{this.title.statusSipil}}</span>
          </li>
        </ul>
      
  <div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            
            <div class="portlet-body">
               
              <div class="form-horizontal" role="form">
                <div class="form-body">
                  <div class="form-group">
                      <label class="col-md-3 control-label">ID {{this.title.statusSipil}}</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control input-inline input-medium" placeholder="Enter Text">
                          <span class="help-inline"> Example : SS001. </span>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-md-3 control-label">{{this.title.statusSipil}}</label>
                      <div class="col-md-9">
                          <input type="text" class="form-control input-inline input-medium" placeholder="Enter Text">
                          <span class="help-inline"> Example : Menikah </span>
                      </div>
                  </div>                  
                  <div class="form-group">
                      <label class="col-md-3 control-label">Status</label>
                      <div class="col-md-9">
                          <div class="mt-radio-inline">
                              <label class="mt-radio">
                                  <input type="radio" name="status" value="aktif" checked> Aktif
                                  <span></span>
                              </label>
                              <label class="mt-radio">
                                  <input type="radio" name="status" value="nonaktif"> Non Aktif
                                  <span></span>
                              </label>                              
                          </div>
                      </div>
                  </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default" [routerLink]="['/'+this.routerUrl.statusSipil]">Back</button>
                        </div>
                    </div>
                </div>
              </div>
              
            </div>
        </div>
    </div>
    
  </div>

  </div>
  <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

